In [2]:
import numpy as np 
import pandas as pd
from datetime import datetime

In [3]:
cust = pd.read_csv(r"C:\Users\susha\Documents\AWCustomers.csv")
cust

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,NaN,Grace,C,Bailey,NaN,6627 Camelback Ct.,NaN,Coronado,California,...,Graduate Degree,Skilled Manual,F,M,0,1,0,2,52953,2017-03-06
18357,11459,NaN,Tasha,NaN,Deng,NaN,9627 Kendall Rd,NaN,Port Macquarie,New South Wales,...,Bachelors,Skilled Manual,F,S,0,2,0,0,60992,2017-03-06
18358,12160,NaN,Jaclyn,NaN,Zhang,NaN,4364 Viera Avenue,NaN,Beaverton,Oregon,...,Partial College,Skilled Manual,F,S,0,2,0,0,51859,2017-03-06
18359,14353,NaN,Erin,I,Reed,NaN,3866 Mt. Everest Court,NaN,Vancouver,British Columbia,...,High School,Clerical,F,S,0,0,0,0,87177,2017-03-06
18360,16676,NaN,Amanda,NaN,Perry,NaN,7870 Orangewood Dr.,NaN,Grossmont,California,...,Graduate Degree,Professional,F,M,1,2,0,0,136856,2017-03-06

In [4]:
sales = pd.read_csv(r"C:\Users\susha\Documents\AWSales.csv")
sales

       CustomerID  BikeBuyer  AvgMonthSpend
0           21173          1          50.97
1           13249          1          53.11
2           29350          1          54.08
3           13503          1          56.93
4           22803          1          55.41
...           ...        ...            ...
18350       25414          0          48.14
18351       11459          1          50.23
18352       12160          1          49.56
18353       14353          0          51.42
18354       16676          1          52.27

[18355 rows x 3 columns]

In [5]:
aw = cust.merge(sales, on="CustomerID", how="inner")
aw

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,M,M,1,3,0,1,81916,2017-03-06,1,50.97
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,M,M,1,2,1,2,81076,2017-03-06,1,53.11
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,F,S,0,3,0,0,86387,2017-03-06,1,54.08
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,M,M,1,2,1,2,61481,2017-03-06,1,56.93
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,M,S,1,1,0,0,51804,2017-03-06,1,55.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,NaN,Grace,C,Bailey,NaN,6627 Camelback Ct.,NaN,Coronado,California,...,F,M,0,1,0,2,52953,2017-03-06,0,48.14
18357,11459,NaN,Tasha,NaN,Deng,NaN,9627 Kendall Rd,NaN,Port Macquarie,New South Wales,...,F,S,0,2,0,0,60992,2017-03-06,1,50.23
18358,12160,NaN,Jaclyn,NaN,Zhang,NaN,4364 Viera Avenue,NaN,Beaverton,Oregon,...,F,S,0,2,0,0,51859,2017-03-06,1,49.56
18359,14353,NaN,Erin,I,Reed,NaN,3866 Mt. Everest Court,NaN,Vancouver,British Columbia,...,F,S,0,0,0,0,87177,2017-03-06,0,51.42
18360,16676,NaN,Amanda,NaN,Perry,NaN,7870 Orangewood Dr.,NaN,Grossmont,California,...,F,M,1,2,0,0,136856,2017-03-06,1,52.27

In [6]:
aw = aw.drop(["Title","MiddleName","Suffix","AddressLine2"],axis=1)
aw

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,...,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend
0,21173,Chad,Yuan,7090 C. Mount Hood,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,1987-11-13,...,M,M,1,3,0,1,81916,2017-03-06,1,50.97
1,13249,Ryan,Perry,3651 Willow Lake Rd,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,1972-07-21,...,M,M,1,2,1,2,81076,2017-03-06,1,53.11
2,29350,Julia,Thompson,1774 Tice Valley Blvd.,West Covina,California,United States,91791,120-555-0111,1985-11-09,...,F,S,0,3,0,0,86387,2017-03-06,1,54.08
3,13503,Theodore,Gomez,2103 Baldwin Dr,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,1977-10-18,...,M,M,1,2,1,2,61481,2017-03-06,1,56.93
4,22803,Marshall,Shan,Am Gallberg 234,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,1975-02-05,...,M,S,1,1,0,0,51804,2017-03-06,1,55.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,Grace,Bailey,6627 Camelback Ct.,Coronado,California,United States,92118,292-555-0130,1990-11-11,...,F,M,0,1,0,2,52953,2017-03-06,0,48.14
18357,11459,Tasha,Deng,9627 Kendall Rd,Port Macquarie,New South Wales,Australia,2444,1 (11) 500 555-0171,1992-10-13,...,F,S,0,2,0,0,60992,2017-03-06,1,50.23
18358,12160,Jaclyn,Zhang,4364 Viera Avenue,Beaverton,Oregon,United States,97005,819-555-0110,1983-11-24,...,F,S,0,2,0,0,51859,2017-03-06,1,49.56
18359,14353,Erin,Reed,3866 Mt. Everest Court,Vancouver,British Columbia,Canada,V7L 4J4,791-555-0118,1995-06-15,...,F,S,0,0,0,0,87177,2017-03-06,0,51.42
18360,16676,Amanda,Perry,7870 Orangewood Dr.,Grossmont,California,United States,91941,553-555-0122,1986-03-26,...,F,M,1,2,0,0,136856,2017-03-06,1,52.27

In [7]:
aw["BirthDate"] = pd.to_datetime(aw["BirthDate"])
aw["LastUpdated"] = pd.to_datetime(aw["LastUpdated"])
aw

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,...,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend
0,21173,Chad,Yuan,7090 C. Mount Hood,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,1987-11-13,...,M,M,1,3,0,1,81916,2017-03-06,1,50.97
1,13249,Ryan,Perry,3651 Willow Lake Rd,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,1972-07-21,...,M,M,1,2,1,2,81076,2017-03-06,1,53.11
2,29350,Julia,Thompson,1774 Tice Valley Blvd.,West Covina,California,United States,91791,120-555-0111,1985-11-09,...,F,S,0,3,0,0,86387,2017-03-06,1,54.08
3,13503,Theodore,Gomez,2103 Baldwin Dr,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,1977-10-18,...,M,M,1,2,1,2,61481,2017-03-06,1,56.93
4,22803,Marshall,Shan,Am Gallberg 234,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,1975-02-05,...,M,S,1,1,0,0,51804,2017-03-06,1,55.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,Grace,Bailey,6627 Camelback Ct.,Coronado,California,United States,92118,292-555-0130,1990-11-11,...,F,M,0,1,0,2,52953,2017-03-06,0,48.14
18357,11459,Tasha,Deng,9627 Kendall Rd,Port Macquarie,New South Wales,Australia,2444,1 (11) 500 555-0171,1992-10-13,...,F,S,0,2,0,0,60992,2017-03-06,1,50.23
18358,12160,Jaclyn,Zhang,4364 Viera Avenue,Beaverton,Oregon,United States,97005,819-555-0110,1983-11-24,...,F,S,0,2,0,0,51859,2017-03-06,1,49.56
18359,14353,Erin,Reed,3866 Mt. Everest Court,Vancouver,British Columbia,Canada,V7L 4J4,791-555-0118,1995-06-15,...,F,S,0,0,0,0,87177,2017-03-06,0,51.42
18360,16676,Amanda,Perry,7870 Orangewood Dr.,Grossmont,California,United States,91941,553-555-0122,1986-03-26,...,F,M,1,2,0,0,136856,2017-03-06,1,52.27

In [8]:
ref_date = pd.to_datetime("2014-01-01")
aw["Age"] = ((aw["LastUpdated"].fillna(ref_date) - aw["BirthDate"]) / np.timedelta64(1, "Y"))
aw

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,...,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend,Age
0,21173,Chad,Yuan,7090 C. Mount Hood,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,1987-11-13,...,M,1,3,0,1,81916,2017-03-06,1,50.97,29.331507
1,13249,Ryan,Perry,3651 Willow Lake Rd,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,1972-07-21,...,M,1,2,1,2,81076,2017-03-06,1,53.11,44.654795
2,29350,Julia,Thompson,1774 Tice Valley Blvd.,West Covina,California,United States,91791,120-555-0111,1985-11-09,...,S,0,3,0,0,86387,2017-03-06,1,54.08,31.342466
3,13503,Theodore,Gomez,2103 Baldwin Dr,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,1977-10-18,...,M,1,2,1,2,61481,2017-03-06,1,56.93,39.408219
4,22803,Marshall,Shan,Am Gallberg 234,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,1975-02-05,...,S,1,1,0,0,51804,2017-03-06,1,55.41,42.109589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,Grace,Bailey,6627 Camelback Ct.,Coronado,California,United States,92118,292-555-0130,1990-11-11,...,M,0,1,0,2,52953,2017-03-06,0,48.14,26.334247
18357,11459,Tasha,Deng,9627 Kendall Rd,Port Macquarie,New South Wales,Australia,2444,1 (11) 500 555-0171,1992-10-13,...,S,0,2,0,0,60992,2017-03-06,1,50.23,24.410959
18358,12160,Jaclyn,Zhang,4364 Viera Avenue,Beaverton,Oregon,United States,97005,819-555-0110,1983-11-24,...,S,0,2,0,0,51859,2017-03-06,1,49.56,33.304110
18359,14353,Erin,Reed,3866 Mt. Everest Court,Vancouver,British Columbia,Canada,V7L 4J4,791-555-0118,1995-06-15,...,S,0,0,0,0,87177,2017-03-06,0,51.42,21.739726
18360,16676,Amanda,Perry,7870 Orangewood Dr.,Grossmont,California,United States,91941,553-555-0122,1986-03-26,...,M,1,2,0,0,136856,2017-03-06,1,52.27,30.967123

In [9]:
aw_clean = aw.dropna(subset=[
    "BikeBuyer","YearlyIncome","Age",
    "MaritalStatus","Gender","Education","Occupation",
    "HomeOwnerFlag","NumberCarsOwned","NumberChildrenAtHome","TotalChildren"
])
aw_clean

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,...,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend,Age
0,21173,Chad,Yuan,7090 C. Mount Hood,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,1987-11-13,...,M,1,3,0,1,81916,2017-03-06,1,50.97,29.331507
1,13249,Ryan,Perry,3651 Willow Lake Rd,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,1972-07-21,...,M,1,2,1,2,81076,2017-03-06,1,53.11,44.654795
2,29350,Julia,Thompson,1774 Tice Valley Blvd.,West Covina,California,United States,91791,120-555-0111,1985-11-09,...,S,0,3,0,0,86387,2017-03-06,1,54.08,31.342466
3,13503,Theodore,Gomez,2103 Baldwin Dr,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,1977-10-18,...,M,1,2,1,2,61481,2017-03-06,1,56.93,39.408219
4,22803,Marshall,Shan,Am Gallberg 234,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,1975-02-05,...,S,1,1,0,0,51804,2017-03-06,1,55.41,42.109589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,Grace,Bailey,6627 Camelback Ct.,Coronado,California,United States,92118,292-555-0130,1990-11-11,...,M,0,1,0,2,52953,2017-03-06,0,48.14,26.334247
18357,11459,Tasha,Deng,9627 Kendall Rd,Port Macquarie,New South Wales,Australia,2444,1 (11) 500 555-0171,1992-10-13,...,S,0,2,0,0,60992,2017-03-06,1,50.23,24.410959
18358,12160,Jaclyn,Zhang,4364 Viera Avenue,Beaverton,Oregon,United States,97005,819-555-0110,1983-11-24,...,S,0,2,0,0,51859,2017-03-06,1,49.56,33.304110
18359,14353,Erin,Reed,3866 Mt. Everest Court,Vancouver,British Columbia,Canada,V7L 4J4,791-555-0118,1995-06-15,...,S,0,0,0,0,87177,2017-03-06,0,51.42,21.739726
18360,16676,Amanda,Perry,7870 Orangewood Dr.,Grossmont,California,United States,91941,553-555-0122,1986-03-26,...,M,1,2,0,0,136856,2017-03-06,1,52.27,30.967123

In [10]:
df = aw_clean[[
    "BikeBuyer","Age","YearlyIncome","MaritalStatus","Gender","Education",
    "Occupation","HomeOwnerFlag","NumberCarsOwned",
    "NumberChildrenAtHome","TotalChildren","AvgMonthSpend"
]]
df.head()

,BikeBuyer,Age,YearlyIncome,MaritalStatus,Gender,Education,Occupation,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,AvgMonthSpend
0,1,29.331507,81916,M,M,Bachelors,Clerical,1,3,0,1,50.97
1,1,44.654795,81076,M,M,Partial College,Clerical,1,2,1,2,53.11
2,1,31.342466,86387,S,F,Bachelors,Clerical,0,3,0,0,54.08
3,1,39.408219,61481,M,M,Partial College,Skilled Manual,1,2,1,2,56.93
4,1,42.109589,51804,S,M,Partial College,Skilled Manual,1,1,0,0,55.41

In [11]:
df.tail()

,BikeBuyer,Age,YearlyIncome,MaritalStatus,Gender,Education,Occupation,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,AvgMonthSpend
18356,0,26.334247,52953,M,F,Graduate Degree,Skilled Manual,0,1,0,2,48.14
18357,1,24.410959,60992,S,F,Bachelors,Skilled Manual,0,2,0,0,50.23
18358,1,33.304110,51859,S,F,Partial College,Skilled Manual,0,2,0,0,49.56
18359,0,21.739726,87177,S,F,High School,Clerical,0,0,0,0,51.42
18360,1,30.967123,136856,M,F,Graduate Degree,Professional,1,2,0,0,52.27